{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <div class="content">
            <h1 class="larger-text">WIN Coach Dashboard</h1>
            <p class="larger-text">Designed for Coach Austin</p>
            <div>
                <a href="https://www.instagram.com/" target="_blank">
                    <button type="button">Instagram</button>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <button type="button">Twitter</button>
                </a>
            </div>
        </div>

        <style>
            .content {
                width: 100%;
                position: center;
                top: 50%;
                transform: translateY(25%);
                text-align: center;
                color: rgb(0, 0, 0);
            }

            .larger-text {
                font-size: 50px;
                margin-top: 80px;
            }

            .content p {
                font-size: 20px;
                margin: 20px auto;
                font-weight: bold;
                line-height: 1.5;
                color: blueviolet;
            }

            button {
                width: 200px;
                padding: 15px 0;
                text-align: center;
                margin: 20px 10px;
                border-radius: 25px;
                font-weight: bold;
                border: 2px solid rgb(0, 0, 0);
                background: transparent;
                color: #000000;
                cursor: pointer;
                transition: border 0.5s ease-in-out;
            }

            button:hover {
                background-color: blueviolet;
                border: 2px solid transparent;
            }
        </style>

    {% else %}
        <div class="form-container">
            <div class="sub-form">
                <h2>Login</h2>
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <label for="id_username">Username</label> <br>
                    <input type="text" name="username" id="id_username">  <br>
                    <label for="id_password">Password</label> <br>
                    <input type="password" name="password" id="id_password"> <br>
                    <div class="btn">
                        <button type="submit">Login</button> <br>
                    </div>
                </form>
            </div>
        </div>

        <style>
            body {
                font-family: 'Nunito', sans-serif;
                background-image: linear-gradient(45deg, #21D4FD 0%, #B721FF 100%);
                height: 100vh;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .form-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .sub-form {
                flex-shrink: 0;
                width: 30vw;
                max-width: 80%;
                height: 70vh;
                border-radius: 12px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                background-color: white;
            }

            h2 {
                margin: 1.5rem 0 2rem 0;
                text-align: center;
            }

            label {
                padding-left: 16px;
                opacity: 0.75;
            }

            input {
                border-radius: 50px;
                border-style: none;
                outline: none;
                margin-top: 8px;
                padding: 12px 24px;
                width: 100%;
                background-color: #EAEEED;
            }

            button {
                padding: 12px 48px;
                border-radius: 50px;
                color: white;
                margin-top: 1rem;
                cursor: pointer;
                outline: none;
                border-width: 0;
                background-color: #1a1b27;
                font-weight: 600;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }
        </style>
    {% endif %}
{% endblock %}
