{% extends 'base.html' %}

{% block content %}
    <div class="text-center my-4">
        <h1>Metrics</h1>
        <div class="top-graph">
            <iframe src="https://winreality.domo.com/embed/card/private/Anz93" width="100%" height="500" marginheight="0" marginwidth="0" frameborder="0"></iframe>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://winreality.domo.com/embed/card/private/zmDxZ" width="100%" height="400" marginheight="0" marginwidth="0" frameborder="0"></iframe>
            </div>
            <div class="col-md-6">
                <iframe src="https://winreality.domo.com/embed/card/private/JZM7J" width="100%" height="400" marginheight="0" marginwidth="0" frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
